@import './variables';
@import './typography';
@import './normalize';
@import './global';
@import './images';
// Pages
@import './pages/hello';

$gold: #C19A5B;
$grey: #3f3f3f;
$cream: #e2d7cf;

$small: 768px;
$meduim: (max-width: 1024px);

$small: 768px;
$tablet: 1024px;

@mixin small {
  @media (max-width: #{$small}) {
    @content;
  }
}

@mixin tablet{
  @media (max-width: #{$tablet}) {
    @content;
  }
}

html {
	font-size: 14px;
	@include tablet {
		font-size: 12px;
	}
	@include small {
		font-size: 10px;
	}
}

.left{
	left:0;
	position: absolute;
}
.right{
	position: absolute;
	right: 0;
}
.center{
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}
.sunshine{
	animation: spin 1s forwards;
	transform-origin: center;
	.animate &{
		animation: none;
	}
}
@keyframes spin{
	0%{
		transform-origin: center;
		transform: rotate(0deg) translate(-50%,0);
	}
	100%{
		transform-origin: center;
		transform: rotate(-360deg) translate(-50%,0);
	}
}
body{
	&:not(.animate){
		overflow: hidden;
	}
	&::after{
		content: '';
		left:0;
		top:0;
		width: 100%;
		position: fixed;
		background-color: white;
		height: 100%;
		transition: all 1s ease-in;
		
	}
	.image{
		// opacity: 0;
		// transition: all 1s cubic-bezier(0, 0, 0.08, 1.01) 200ms;
	}
	&.animate{
		&::after{
			// opacity: 0;
			transform: translateY(-100%);
		}
		.hero-heading{
			// transform: translate(-50%,0%);
			// transform: translate(50%,50%);
			span{
				opacity: 0;
			}
		}
		// .image{
		// 	opacity: 1;
		// }
	}
	&.loaded {
		.hero-heading:after{
			opacity: 0;
			transform: translateX(40%);
		}
		header > *{
			opacity: 1;
		}
	}
	header{
		> *{
			opacity: 0;
			transition: opacity 1s ease;
			&:nth-child(1){
				transition-delay: 0.2s;
			}
			&:nth-child(2){
				transition-delay: 0.4s;
			}
			&:nth-child(3) {
				transition-delay: 0.65s;
			}
		}
		
	}
	.hero-heading{
		// transition: all 500ms ease-in;
		// transform: translate(-50%,50%);
		&:after{
			content: "";
			width: 200%;
			position: absolute;
			left: 0;
			height: 100%;
			top: 0;
			opacity: 1;
			transition: transform 4s ease 300ms, opacity 300ms ease 2s;
			transform: translateX(-45%);
			background: linear-gradient( to right, #0000, #fff, #fff);
		}
		span{
			opacity: 1;
			transition: all 500ms ease-in;
		}
		// transform: translate(50%,50%);
	}
}

.hero{
	position: relative;
	height: 200vh;
	margin-bottom: 30vh;
}


body{
	// padding: 0 5%;
	font-family: 'Montserrat', sans-serif;
	// font-size: 10px;
	// font-size: 10%;
	// font-size: 1rem;
	line-height: 1;
}
p {
	line-height: 1.5;
}
header{
	position: fixed;
	top:0;
	right: 0;
	left:0;
	background: white;
	padding: 10px;
	box-sizing: content-box;
	color: $grey;
	z-index: 10;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	a {
		color: $grey;
	}
	.center{
		margin: 0 auto;
	}
	.icon{
		height: 100%;
		width: auto;
	}
}
body{
	margin-bottom: 30px;
}
.wrapper {
	// margin: 0 5%;
	top:0;
	padding: 0 5%;
	height: 100%;
	width: 100vw;
	/* display: block; */
	min-height: 100%;
	/* box-sizing: revert; */
	position: relative;
	min-height: 100vh;
	color: $grey;
	font-weight: 100;
	overflow: hidden;
	&:after{
		content: '';
		position: fixed;
		left:0;
		right:0;
		background: white;
		width: 100%;
		height: 100%;
	}
}
.typo-light{
	font-weight: 300;
}
.typo-normal{
	font-weight: 400;
}
$top-height: 8rem;
$top-height-img: $top-height * 2.7;
h1{
	margin-top: $top-height;
	font-size: 10rem;
	color: $gold;
	font-weight: 400;
	text-align: center;
	@extend .center;
	z-index: 2;
}
.headline{
	font-size: 6rem;
	font-weight: 600;
	color: $gold;
	text-transform: uppercase;
	
}
.image img{
	transform: scale(1);
	transition: 300ms ease;
	&:hover{
		transform:scale(1.05);
	}
}

.image{
	overflow: hidden;
}

$hero-height: 50vh;

.hero-images{
	img{
		width: 100%;
		height: auto;;
		// @include small{
		// 	width: 100%;
		// 	height: auto;
		// }
	}
	.image-1{
		// width: auto;
		width: 80%;
		top: 15%;
		// @include small{
		// 	top: 40%;
		// }
	}
	.image-1-alt{
		top: 90vh;
		width: 40vh;
		left: 90%;
		transform: translateX(-90%);
		// @include small{
		// 	top: 60%;
		// }
	}
	.image-2{
		top: 70%;
		width: 40vh;
		// @include small{
		// 	top: 80%;
		// }

	}
	.image-3{
		width: 55vh;
		top: 100%;
		// @include small{
		// 	top: 100%;
		// }

	}
}


.portfolio{
	display: flex;
	flex-direction: column;
	align-items: center;
	// padding: 10v 0;
}
.about{
	display: flex;
	height: 100vh;
	@include small {
		margin-top: 10%;
		flex-direction: column;
	}
	align-items: center;
	> div{
		margin: 2%;
		width: 50%;
		@include small{
			width: 100%;
		}
	}
	.main-img{
		img{
			width: 100%;
			height: auto;
		}
		position: relative;
		.sivia{
			padding-left: 10%;
			// position: absolute;
		}
		.sivia-alt{
			position: absolute;
			left:0;
			top: 80%;
			width: 30%;
		}
	}
	.profile-content{
		padding-left: 5%;
		@include small {
			margin-top: 15vw;
		}
	}
}


.portfolio{
	h2 {
		text-align: center;
	}
	.project-images{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		.image{
			max-width: 80%;
			margin-top: 30px;
			transform: translateX(-20%);
			opacity: 0;
			&:nth-child(even) {
				margin-left: auto;
				transform: translateX(20%);
			}
			&.animate{
				transform: translateX(0);
				opacity: 1;
				transition: opacity 1s ease, transform 400ms linear;
			}
		}
		img{
			width: 100%;
			height: auto;
			// max-width: 80%;
			// margin-top: 15%;
		}
	}
}