{% set title = 'Home Page' %}
{% extends 'layouts/_layout.html' %}

<body>
    {% block page %}
		<header><a class="icon" href="https://www.linkedin.com/in/sivia-pullen/"><img class="icon" src="./assets/img/linkedin.png"/></a><img class="icon center sunshine" src="./assets/img/sunshine.png"/><a href="mailto:tosiviafaye@gmail.com">Contact Me</a></header>
		<div class="wrapper">
			<div class="hero">
				<h1 class="hero-heading">SIVIA <span class="headline">Pullen</span></h1>
				
				<div class="hero-images">
						<div class="image image-2 h fast left"><img src="./assets/img/sp-photo-3.jpg"/></div>
						<div class="image image-1 v center"><img src="./assets/img/sp-photo-1.jpg"/></div>
						<div class="image image-1-alt v center slow"><img src="./assets/img/sp-photo-2.jpg"/></div>
						<div class="image image-3 h fast right"><img src="./assets/img/sp-photo-4.jpg"/></div>
					</div>
			</div>
			<div class="about">
				<div class="profile-img">
					<div class="main-img">
						<img class="sivia" src="./assets/img/sp-photo-5.jpg"/>
						<img class="sivia-alt side-img" src="./assets/img/IMG_0997.JPG"/>
					</div>
				</div>
					<div class="profile-content">
						<h2 class="headline">Hello <br> <span class="typo-light">there</span></h2>
						<p>Hi my name is Sivia i am an Interior designer and home stager specializing in luxury design. Let’s collaborate to transform your home into your sanctuary.</p>
					</div>
				</div>

			<div class="portfolio">
					<h2 class="headline">My<br> <span class="typo-light">Work</span></h2>
					<div class="project-images">
						<div class="image"><img src="./assets/img/995C305D-3E7A-4A71-9216-1E1106819DC3.jpeg"/></div>
						<div class="image"><img src="./assets/img/2610E623-627C-45E3-90DD-2C2B5F93EA91.jpeg"/></div>
						<div class="image"><img src="./assets/img/B9E44074-8A3A-4901-B386-8975047843F2.jpeg"/></div>
						<div class="image"><img src="./assets/img/E4D33120-4E80-40C9-A96A-783192DD2064.JPG"/></div>
						<div class="image"><img src="./assets/img/E8621DB3-E2E5-4CEC-8740-C7B9C5BB1271.jpeg"/></div>
						<div class="image"><img src="./assets/img/image1.jpeg"/></div>
						<div class="image"><img src="./assets/img/image2.jpeg"/></div>
						<div class="image"><img src="./assets/img/IMG_0743.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1020.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1021.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1023.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1024.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1025.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1027.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1028.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1030.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1031.JPG"/></div>
						<div class="image"><img src="./assets/img/IMG_1033.JPG"/></div>
					</div>
			</div>
		</div>
    {% endblock %}
</body>
</html>