{% set title = 'Home Page' %}
{% extends 'layouts/_layout.html' %}

<body>
    {% block page %}
		<div class="wrapper">
			<div class="hero">
				<h1 class="hero-heading">SIVIA</h1>
				<div class="hero-images">
						<div class="image image-2 h fast left"><img src="./assets/img/IMG_1005.jpg"/></div>
						<div class="image image-1 v center"><img src="./assets/img/IMG_1105.jpg"/></div>
						<div class="image image-1-alt v center slow"><img src="./assets/img/fixed.png"/></div>
						<div class="image image-3 h faster right"><img src="./assets/img/IMG_1030.jpg"/></div>
					</div>
			</div>
			<div class="about">
				<div class="profile-img">
					<div class="main-img">
						<img class="sivia" src="./assets/img/image9.jpeg"/>
						<img class="sivia-alt" src="./assets/img/IMG_0997.JPG"/>
					</div>
				</div>
					<div class="profile-content">
						<h2 class="headline">Hello <br> <span class="typo-light">there</span></h2>
						<p>Hi my name is Sivia i am an Interior designer and home stager specializing in luxury design. Let’s collaborate to transform your home into your sanctuary.</p>
					</div>
				</div>

			</div>
		</div>
    {% endblock %}
</body>
</html>